# Assignment1 - COMP 6934

### Name: Ganeshkirubashankar Pavadaisamy
### Student ID: 202192154
### Date: 20 Jan 2023

### Importing Pandas Library

In [1]:
import pandas as pd

### Loading the Dataset

In [2]:
df = pd.read_csv('starwars.csv')

## Exploring the Dataset
### Checking the First 5 data from the Dataset

In [3]:
df.head(5)

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
0,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### Getting Information about the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               1186 non-null   float64
 1   seen_any_films                   1186 non-null   object
 2   fan                              836 non-null    object
 3   seen_episode1                    936 non-null    object
 4   seen_episode2                    936 non-null    object
 5   seen_episode3                    936 non-null    object
 6   seen_episode4                    936 non-null    object
 7   seen_episode5                    936 non-null    object
 8   seen_episode6                    936 non-null    object
 9   rank_episode1                    835 non-null    float64
 10  rank_episode2                    836 non-null    float64
 11  rank_episode3                    835 non-null    float64
 12  rank_episode4                    836 non-null    float64
 13  rank_episode5                    836 non-null    float64
 14  rank_episode6                    836 non-null    float64
 15  view_han_solo                    829 non-null    object
 16  view_luke_skywalker              831 non-null    object
 17  view_princess_leia_organa        831 non-null    object
 18  view_anakin_skywalker            823 non-null    object
 19  view_obi_wan_kenobi              825 non-null    object
 20  view_emperor_palpatine           814 non-null    object
 21  view_darth_vader                 826 non-null    object
 22  view_lando_calrissian            820 non-null    object
 23  view_boba_fett                   812 non-null    object
 24  view_c3p0                        827 non-null    object
 25  view_r2d2                        830 non-null    object
 26  view_jar_jar_binks               821 non-null    object
 27  view_padme_amidala               814 non-null    object
 28  view_yoda                        826 non-null    object
 29  who_shot_first                   828 non-null    object
 30  familiar_with_expanded_universe  828 non-null    object
 31  fan_expanded_universe            213 non-null    object
 32  fan_star_trek                    1068 non-null   object
 33  gender                           1046 non-null   object
 34  age                              1046 non-null   object
 35  household_income                 858 non-null    object
 36  education                        1036 non-null   object
 37  location                         1043 non-null   object
dtypes: float64(7), object(31)
memory usage: 352.2+ KB

### Checking Total no.of. rows / no. of. data in df

In [5]:
len(df)

1186

### Checking the columns in df

In [6]:
df.columns

Index(['id', 'seen_any_films', 'fan', 'seen_episode1', 'seen_episode2',
       'seen_episode3', 'seen_episode4', 'seen_episode5', 'seen_episode6',
       'rank_episode1', 'rank_episode2', 'rank_episode3', 'rank_episode4',
       'rank_episode5', 'rank_episode6', 'view_han_solo',
       'view_luke_skywalker', 'view_princess_leia_organa',
       'view_anakin_skywalker', 'view_obi_wan_kenobi',
       'view_emperor_palpatine', 'view_darth_vader', 'view_lando_calrissian',
       'view_boba_fett', 'view_c3p0', 'view_r2d2', 'view_jar_jar_binks',
       'view_padme_amidala', 'view_yoda', 'who_shot_first',
       'familiar_with_expanded_universe', 'fan_expanded_universe',
       'fan_star_trek', 'gender', 'age', 'household_income', 'education',
       'location'],
      dtype='object')

### Getting  a descriptive statistics summary of the dataframe.

In [7]:
df.describe()

,id,rank_episode1,rank_episode2,rank_episode3,rank_episode4,rank_episode5,rank_episode6
count,1.186000e+03,835.000000,836.000000,835.000000,836.000000,836.000000,836.000000
mean,3.290128e+09,3.732934,4.087321,4.341317,3.272727,2.513158,3.047847
std,1.055639e+06,1.656122,1.365365,1.400464,1.825901,1.578620,1.666897
min,3.288373e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.289451e+09,3.000000,3.000000,3.000000,2.000000,1.000000,2.000000
50%,3.290147e+09,4.000000,4.000000,5.000000,3.000000,2.000000,3.000000
75%,3.290814e+09,5.000000,5.000000,6.000000,5.000000,3.000000,4.000000
max,3.292880e+09,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

### Question 1: Write code that determines the number of unique values for age.

In [8]:
df['age'].nunique()
#nunique() returns the no.of.unique values in column of df

4

### Question 2: Write code that lists all the unique responses to the question, "Who shot first?" (who_shot_firstfield).

In [9]:
list(df['who_shot_first'].unique())
#unique() returns the unique values in column of df

["I don't understand this question", nan, 'Greedo', 'Han']

### Question 3: Write code to determine the number of entries in the data set that view Darth Vader as "Veryfavorably" or "Somewhat favorably".

In [10]:
# using str.contains() to retrieve the data if a value is present
len(df[df["view_darth_vader"].str.contains("Very favorably")| df["view_darth_vader"].str.contains("Somewhat favorably")])

481

### Question 4: Write code that computes the total number of people that have seen all 6 Star Wars films (hint:471).

In [11]:
# using str.contains() to retrieve the data if a value is present
len(df[df['seen_episode1'].str.contains('Yes')&df['seen_episode2'].str.contains('Yes')&df['seen_episode3'].str.contains('Yes')&df['seen_episode4'].str.contains('Yes')&df['seen_episode5'].str.contains('Yes')&df['seen_episode6'].str.contains('Yes')])

471

### Question 5: Write code that computes the percentage of males and females that are fans of Star Wars.

In [12]:
# Extracting 2 different df where gender = male (total_male_df) and gender = female(total_female_df) 
total_male_df=df[df['gender']=='Male']
total_female_df=df[df['gender']=='Female']

##### Then, We are extracting df where the fans attribute is Yes -> fans_df
##### Then from fans_df, we seperate male_fans_df(gender=male) and female_fans_df(gender = female)
##### Male fans Percentage = No.of.Male Fans/ No.of. Total Male

In [13]:
fans_df=df[df['fan']=="Yes"]
male_fans_df=fans_df[fans_df['gender']=='Male']
female_fans_df=fans_df[fans_df['gender']=='Female']
male_fans_percentage=len(male_fans_df)/len(total_male_df)
male_fans_percentage

0.6096579476861167

#### Female fans Percentage = No.of.Female Fans/ No.of. Total Female

In [14]:
female_fans_percentage=len(female_fans_df)/len(total_female_df)
female_fans_percentage

0.4335154826958106

### Question 6: Turn your notebook into a document with text. Using Markdown, add an appropriate title to thetop of the notebook, along with your name and date. Add appropriate sub-headings before your answers to each of the questions.

##### Included Markdowns with Headings wherever necessary and  Added Comments with Details Needed